/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* RESET CSS => Aplicado a todos os elementos html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Shantell Sans", cursive;
    /* overflow-y: clip; */
}

body {
   font-size: 100%;
   /* background: ghostwhite; */
   background: rgba(71, 71, 218, 0.16);
   overflow-x: hidden;
   
   /* background: aliceblue; */
   /* background: mintcream; */
   /* background: whitesmoke; */

   /* //background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); */
   /* min-height: 450px; */
   /* padding-bottom:10px; */
}

html { 
  scroll-behavior: smooth; 
}

/* p, li {
    padding-right: 10px;
    margin-right: 10px;
} */

/* Fixar Cabeçalho
header {
    position: fixed;
    width: 100%
}*/


/* CLASSES */

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 100%;
    max-width: 1000px; */
    /* background-color: aqua; */
    /* margin: 5px; */
    /* flex: 50%; */
    justify-content: center;
    justify-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap;
        /* align-self: left;
    align-content: left;
    align-items: left; */
    /* background-color: blueviolet; */
    /* width: 100%; */
    /* margin: 5px; */
    align-items: center;
    text-align: center;
     justify-content: space-around;
    /* flex: 50%; */
    /* justify-content: left; */
}

.home {
    /* align-items: center;
    text-align: center;
    overflow-y: hidden; */
    background-color: rgb(36, 36, 120); 
    color: aliceblue;
    padding-top: 120px !important;
    width: 100%;
    padding-inline: calc(30% - 180px);
    /* justify-self: space-between !important; */
    /* padding-block: 50px;  */
    /* margin-bottom: 50px; */
}









.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.4px solid black;
    /* border-bottom: 0.4px solid #FFF2E7; */
    /* background: white; */
    background: ghostwhite;
    /* background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
    padding-right: 6%;
    padding-block: 12px;
    z-index: 1;
    /* width: 100%; */
}

.cabecalho-imagem {
    width: 40px;
}

.cabecalho-destaque {

}

.cabecalho-destaque-nome {
    /* font-family: 'Righteous', cursive; */
    font-weight: 700;
    font-size: large;
    font-variant: small-caps;
    /* color: #FFF2E7; */
    color: black;
}

.cabecalho-menu {
        /* max-width: 200px; */
    display: flex;
    /* padding-inline: 10px; */
    /* gap: 8px; */
    gap: 6%;
}

.cabecalho-menu-item {
    /* font-family: 'Sarala', sans-serif; */
    /* color: #FFF2E7; */
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.cabecalho-menu-item:hover{
    color: rgba(90, 83, 78, 0.53);
}

.conteudo {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 80px;
    /* margin-left: calc(5%); */
    /* margin-right: calc(5%); */
/*     
    padding-left: calc(25% - 100px);
    padding-right: calc(25% - 100px); */

    /* background: black; */

    /* padding-left:calc(25% - 80px); */

    /* justify-content: center; */
    /* min-height: 400px; */
    /* columns: 150px auto; */
    
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* min-width: 300px; */
    /* min-height: 200px; */
}


.conteudo-principal {
    /* whrap:  */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    /* background: white; */
}

.conteudo-principal-escrito {
    /* display: flex;
    flex-direction: column; */
    /* gap: 10px */
    /* width: calc(75%); */
}

.conteudo-principal-escrito-titulo {
    /* font-family: 'Righteous', cursive; */
    font-weight: 400;
    font-size: 48px;
    /* color: black; */
    /* color: #FFF2E7; */
    /* margin-left: calc(10%); */
}

.conteudo-principal-escrito-subtitulo {
    /* font-family: 'Sarala', sans-serif; */
    font-weight: 400;
    font-size: 24px;
    /* color: black; */
    /* color: #FFF2E7; */
    /* margin: 10px; */
}

.conteudo-principal-escrito-botao {
    background-color: black;
    /* background-color: #ECD6C4; */
    /* width: 150px;
    height: 50px; */
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    /* font-family: 'Sarala', sans-serif; */
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    margin: 10px;
}

.botao-home {
    /* width: 150px;
    height: 50px; */

}

.botao-home a {
    /* margin: 5px; */
}

.botao-projects {
    /* width: 180px; */
white-space: nowrap;

}

.botao-projects a {
    /* margin: 5px; */
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(90, 83, 78, 0.53);
    cursor: pointer;
}

.conteudo-principal-escrito-botao a {
    color: white;
    margin: 5px;
}

.conteudo-principal-imagem {
    text-align: center;
    align: center;
    justify: center;
    display: flex;
    padding:20px;
    /* width: 100%; */
    /* display: flex;
    flex-direction: row; */
    /* max-width: 250px; */
    /* gap: 10px */
}

.conteudo-principal-imagem-img {
    min-width: 100px;
    max-width: 200px;
    border-radius: 50%; 
    /* width: 150px; */
}

.conteudo-secundario {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 24px;
    margin-top: 48px;
}

/* .conteudo-secundario-titulo {
  border-bottom: 0.4px solid black;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: x-large;
  font-variant: small-caps;
  margin-bottom: 16px;
} */






/* ABOUT SEION */

.about {
    /* background-color: rgb(36, 36, 120); 
    color: aliceblue; */
    /* padding-inline: calc(25% - 80px); */
  width: 100%;
  color: rgb(36, 36, 120); 
    
  /* padding-inline: 20px;
  max-width: 800px; */
    /* padding-left: calc(25% - 100px);
    padding-right: calc(25% - 100px); */
 
}


.about-script {
  margin-inline: 20px;
  padding: 15px;
  max-width: 600px;
  /* gap: 20px; */
      border: 1px solid; 
    border-radius: 10px;
}


.about-paragraph {
    /* font-family: 'Sarala', sans-serif; */
    font-weight: 300;
    font-size: 14px;
    /* font-size: 15px; */
    width: 100%;
    /* color: black; */
    
    /* width:calc(100% - 50px); */
    /* width:calc(75% + 75px); */
    text-align: justify;

    /* padding-top: 10px; */
}

.about-paragraph ul {
  padding-left: 7px;
}

.about-paragraph li {
  /* font-size: smaller; */
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.9px;
  /* padding-inline: 5px; */
  /* background-color: aquamarine; */
  /* padding-left:1em */
  list-style-type: none;
  /* list-style-position: outside; */
}

.about-paragraph li::before {
  content: '↵';
  padding-left: 2px;
  /* font-size: large; */
  font-weight: 500;
  

  display: inline-block;
  transform: rotateY(180deg);
  /* transform: rotate(80deg); */

  /* transform: rotate(90deg); */

  position: relative;
  bottom: 3px;

}

.about-paragraph p:first-child {
padding-top: 5px;
}

.about-paragraph a {
  font-size: small;
  font-weight: 500;
  color: currentColor;  /*  remove os efeitos de link visitado... */
  flex-direction: column;
}

.about-paragraph a::before {
  content: '•';
  padding-right: 2px;
  font-weight: 600;
}
.about-paragraph a::after {
  content: '↗';
  padding-left: 2px;
  font-weight: 600;
}



.about-paragraph a:hover {
    color: cadetblue;
    /* transform: scale(1.5); */

    /* box-shadow: 10 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    transition: 0.3s;
    /* -ms-zoom-animation: 1; */
    /* transform: scale(0.9); */
}




/* SKILLS SESSION */

.skills {
    background-color: rgb(36, 36, 120); 
    color: aliceblue;
    width: 100%;
    min-height: 680px;
    padding-bottom: 50px !important;
}


.skills-list {
  flex: content;
  flex-direction: column;
  /* padding-inline: calc(25% - 80px); */
  padding-inline: 50px;
  min-width: 250px;
  max-width: 500px;
  gap: 10px;
  /* gap: 10px; */
}

/* .skills-list button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

/* .skills-list button:hover {

} */

.skills-card {
  /* background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s; */
  transition: 1.4s ease-out;
  width: 100%;
}

.skills-card-active, .skills-card:hover {
  background-color: #ccc;
}


.skills-card-title {
  font-size: x-medium;
  font-weight: 600;
  font-variant: small-caps;
  
  background-color: #eee;
  color: rgb(36, 36, 120); ;
  cursor: pointer;
  padding-inline: 10px;
  width: 100%;
  text-align: justify;
  /* border: none;
  outline: none; */
  /* transition: .1s ease-in-out; */
  justify-content: space-between !important;
}

.skills-card-title p::after {
  content: '+';
  color: rgb(36, 36, 120); 
  /* position: absolute; */
  /* top: 50%; */
  /* right: 500px; */
  font-size: 20px;
  /* transform: translateY(-50%); */
}

.skills-card-body {
  font-size: small;
  font-weight: 500;
  /* font-variant: small-caps; */

  /* padding-block: 5px; */
  
  padding-inline: 10px;
  background-color: white;
  color: rgb(36,36,120);
  /* display: none; */
  height: auto;
  max-height: 0;
  overflow: hidden;

  transition: max-height .6s ease-in-out;
  /* transition: transform 0.3s ease-in-out; */
  /* transition: height 1.5s;
  transition-timing-function: linear; */
  /* transition: height 1.4s ease-in-out; */
  text-align: left;
  border: 1px solid grey;
    /* width: 100%; */
  /* margin-left: 0; */
}

.skills-card-body li {
  list-style-type: none;
  letter-spacing: -0.5px;
}

.skills-card-body li::before {
  content: '•';
  padding-right: 5px;
  font-weight: 600;
}

.skills-card-body p:first-child,li:first-child {
  margin-top: 5px;
}
.skills-card-body p:last-child, li:last-child {
  margin-bottom: 5px;
}

.accordion-active .skills-card-body{
  /* display: block; */
  
  /* transition: height 1.4s ease-in-out; */
  /* transform:  scale(1.05); */
  max-height: 130px;
  
}

.accordion-active .skills-card-title p::after {
  content: '-';
}





/* PROJECTS SESSION */

.projects {
  width: 100%;
  color: rgb(36, 36, 120); 
    /* background-color: rgb(36, 36, 120); 
    color: aliceblue; */
}

.projects-list {
  display: flex;
  
  flex-direction: row;
  gap: 25px;
  /* overflow: auto; */
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* width: calc(10% + 250px); */
  /* max-width: 800px; */
  width: 100%;
  /* max-width: 1200px;
  min-width: 200px; */
  padding-inline: 25px;
  /* padding-right: 25px; */
  /* calc(30% - 180px) */
  /* min-inline-size: 20%;
  max-inline-size: 20%; */
}

.projects-list a {
  color: currentColor;  /*  remove os efeitos de link visitado... */
  /* text-decoration: none; */
  transition: transform 0.3s ease-in-out; /* Animation */
}

.projects-list a:hover {
    /* color: rgba(90, 83, 78, 0.53); */
    color: cadetblue;
    
    /* zoom: 102%; */

    transform: scale(1.05);
 

    box-shadow: 10 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
    /* -ms-zoom-animation: 1; */
    /* transform: scale(0.9); */
}


.project-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border: 2px solid ; 
    /* border-bottom: 0.4px solid ; */
    border-radius: 10px; 
    padding: 5px; 
    margin-block: 10px;
    
    /* margin: 5px; */
    width: 260px;
    height: 380px;
    /* gap: 20px; */
    background-color: rgb(36, 36, 120); 
}

.project-card-image {
  /* background-color: blueviolet; */
  background-color: aliceblue;
  height: 100%;
  margin-bottom: 5px;
}

.project-card-description {
  border-top: 0.4px solid aliceblue;

  /* flex-direction: column; */
  /* align-items: start; */
  padding: 5px;
  

  /* font-size: medium; */

  justify-content: left;
  /* justify-items: left; */
  /* position: fixed; */

}

.project-card-title {
  font-size: medium;
  font-weight: 800;
  font-variant: small-caps;
  color: aliceblue;
}

.project-card-subtitle {
  /* font-size: x-small;
  font-weight: 500; */
  font-size: small;
  align-items: end;
  padding-top: 10px;
  /* justify-content: left; */
  /* flex-direction: row; */
  text-align: justify;
  color: aliceblue;
}

.project-card-tags {
  padding-top: 10px;
}

.tag {
  color: aliceblue;
  /* background-color: rgb(110, 201, 19); */
  /* background-color: black; */
  border-radius: 2px;
  border: 0.5px solid white;
  font-size: x-small;
  font-weight: 500;

  font-variant: small-caps;
  padding-inline: 5px;
}

.tag-stack {
  background-color: white;
  color:rgb(36, 36, 120); 
  /* border-color: red; */
  /* background-color: black; */
}

.tag-language {
  /* background-color: rgb(110, 201, 19); */
}

.tag-react {
  background-color: rgb(110, 201, 19);
}

.tag-javascript {
  background-color: rgb(110, 201, 19);
}

.tag-java {
  background-color: rgb(110, 201, 19);
}

.tag-spring {
  background-color: rgb(110, 201, 19);
}

.tag-mysql {
  background-color: rgb(110, 201, 19);
}




.conteudo-secundario-skills {
    /* font-size: x-large;
    font-weight: 400; */
    font-variant: small-caps;

    /* border: 0.4px solid black; */
    border: 0.4px solid ;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}


.conteudo-secundario-skills-titulo {
    font-size: x-large;
    font-weight: 500;
    font-variant: small-caps;

    /* border-bottom: 0.4px solid black; */
    border-bottom: 0.4px solid ;
}

.conteudo-secundario-skills-list {
    flex-direction: column;
    align-items: start;
    padding-left: 5px;
    margin-right: 10px;
    padding-top: 10px;

    font-size: medium;

    justify-content: left;
    /* border: 2px solid #FFF2E7; 
    border-radius: 20px; 
    padding: 0px; 
    margin: 0px;
    height: 150px;
    width: 150px; */
}

.conteudo-secundario img {
    /* display: block;  */
    margin-inline: auto; 
    padding: 20px; 
    height: 120px; 
}

.rodape {
    border-top: 0.4px solid black;
    /* border-top: 0.4px solid #FFF2E7; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-block: 12px;

    /* background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); */
    /* background: white; */
    background-color: ghostwhite;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.rodape-menu {
    display: flex;
    gap: 20px;
}

.rodape-menu-item {
    /* font-family: 'Sarala', sans-serif; */
    color: black;
    /* color: #FFF2E7; */
    font-weight: 400;
    font-size: 14px;
}

.rodape-menu-item:hover{
    color: rgba(90, 83, 78, 0.53);
}