@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/* RESET CSS => Aplicado a todos os elementos html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* overflow-y: clip; */
}

body {
   font-size: 100%;
   background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
   min-height: 450px;
   margin-bottom:10px;
}

/* Fixar Cabeçalho
header {
    position: fixed;
    width: 100%
}*/


/* CLASSES */

.col {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    text-align: center; */
    flex: 50%;
    /* justify-content: space-around; */
}

.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap;
    /* align-items: center;
    text-align: center; */
    //flex: 50%;
    /* justify-content: space-around; */
}

.home {
    align-items: center;
    text-align: center;
    overflow-y: hidden;
}

.pages {
    /* width: 400px; */
    margin-left:calc(25% - 80px);
    margin-bottom: 10px;
}


.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.4px solid #FFF2E7;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-between; */
    padding: 14px;
}

.cabecalho-imagem {
    width: 40px;
}

.cabecalho-destaque {

}

.cabecalho-destaque-nome {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #FFF2E7;
}

.cabecalho-menu {
        /* max-width: 200px; */
    display: flex;
    gap: 16px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 16px;
}

.cabecalho-menu-item:hover{
    color: rgba(236, 214, 196, 0.53);
}

.conteudo {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
    /* min-height: 400px; */
    //columns: 150px auto;
    
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* min-width: 300px; */
    /* min-height: 200px; */
}


.conteudo-principal {
    //whrap: 
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.conteudo-principal-escrito {
    /* display: flex;
    flex-direction: column; */
    /* gap: 10px */
    /* width: calc(75%); */
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 48px;
    color: #FFF2E7;
    /* margin-left: calc(10%); */
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    /* margin: 10px; */
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 160px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    margin: 10px;
}

.botao-projects {
    width: 200px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.conteudo-principal-escrito-botao a {
    color: #2F2325;
}

.conteudo-principal-imagem {
    text-align: center;
    align: center;
    justify: center;
    display: flex;
    //width: 100%;
    /* display: flex;
    flex-direction: row; */
    /* max-width: 250px; */
    /* gap: 10px */
}

.conteudo-principal-imagem-img {
    min-weight: 100px;
    /* width: 150px; */
}

.conteudo-secundario {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-bottom: 0.4px solid #FFF2E7;
    padding-bottom: 16px;

    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
    
    //width:calc(100% - 50px);
    width:calc(75% + 50px);
    text-align: justify;
}

.conteudo-secundario-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFF2E7; 
    border-radius: 20px; 
    padding: 10px; 
    margin: 20px;
}

.conteudo-secundario-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #FFF2E7; 
    border-radius: 20px; 
    padding: 0px; 
    margin: 0px;
    height: 150px;
    width: 150px; */
}

.conteudo-secundario img {
    /* display: block;  */
    margin-inline: auto; 
    padding: 20px; 
    height: 120px; 
}

.rodape {
    border-top: 0.4px solid #FFF2E7;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 14px;

    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.rodape-menu {
    display: flex;
    gap: 20px;
}

.rodape-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 16px;
}

.rodape-menu-item:hover{
    color: rgba(236, 214, 196, 0.53);
}